.profilePhoto {
  border-radius: 25px;
  height: 250px;
  width: 250px;
}

.name {
  font-family:'Courier New', Courier, monospace;
  font-size: large;
}

body {
  background-color: rgb(0, 217, 255);
}